/* basic */
a, a:visited { color:#333; }
a:hover, #logo a:hover { color:#00779e; }
.post .title a:hover { color:#00779e; }
#guest_info input:focus, #comment_textarea textarea:focus { border:1px solid #999; }


/* global menu */
#global_menu { background:url(background.gif) no-repeat left top; }

#global_menu ul li a { color:#666; background:url(menu_line.gif) no-repeat left 1px; }
#global_menu ul li a:hover { background:#fafafa; }

#global_menu ul li.first a:hover { background:url(hover_left.gif) no-repeat left top; }
#global_menu ul li.last a:hover { background:url(hover_right.gif) no-repeat right top; }
#global_menu ul li.last li a:hover, #global_menu ul li.first li a:hover { background-image:none; background:#fafafa; }

#global_menu ul li.active_menu a { background:#fafafa url(hover_middle.gif) no-repeat left top; }
#global_menu ul li.active_menu li a { background:#fafafa; }
#global_menu ul li.active_menu li a:hover { background:#fff; }
#global_menu ul li.active_menu_first > a { background:url(hover_left.gif) no-repeat left top; }
#global_menu ul li.active_menu_last > a { background:url(hover_right.gif) no-repeat right top; border-left:1px solid #ddd; padding-right:11px; }

#global_menu ul ul { margin-top:-1px; }
#global_menu ul ul ul { margin-top:0px; }
#global_menu ul ul a { border:1px solid #dbdbdb; background:#fafafa; background-image:none; }
#global_menu ul ul a:hover { background:#fff; }

#global_menu ul ul .parent_menu > a, #global_menu ul li.active_menu_first ul .parent_menu > a, #global_menu ul li.active_menu_last ul .parent_menu > a, #global_menu ul li.active_menu .parent_menu > a
 { background:#fafafa url(arrow1.png) no-repeat right 19px; }
#global_menu ul ul .parent_menu > a:hover, #global_menu ul li.active_menu_first ul .parent_menu > a:hover, #global_menu ul li.active_menu_last ul .parent_menu > a:hover, #global_menu ul li.active_menu .parent_menu > a:hover
 { background:#fff url(arrow1.png) no-repeat right 19px; }


/* calendar */
#wp-calendar td a:hover { background:#00779e; }
#wp-calendar #prev a:hover, #wp-calendar #next a:hover { background:#00779e; }


