@charset "utf-8";

body { font-family:Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

#logo { font-size:18px; top:12px; }

.post .title { font-size:18px; font-weight:normal; margin:0 0 3px 0; }